// vs-code
.json-view-container {
  &.vs-code {
    background-color: #1e1e1e;

    .json-view {
      font-family: Menlo, Consolas, "Courier New", Courier, FreeMono, monospace !important;

      .json-note {
        color: #909399;
        font-size: 12px;
        font-style: italic;
      }

      .json-key {
        color: #a9dbfb;
      }

      .json-value {
        color: #c6937c;
      }

      .first-line {
        color: #d4d4d4;
      }

      .json-body {
        .base-line {
          border-left: 1px solid #404040;
        }
      }

      .last-line {
        color: #d4d4d4;
      }

      .json-item {
        color: #d4d4d4;
      }
    }
  }
}